[submodule "modules/VeritasData"]
	path = modules/VeritasData
	url = https://www.github.com/Silexars/VeritasData
[submodule "modules/VeritasBuilder"]

	path = modules/VeritasBuilder

	url = https://www.github.com/Silexars/VeritasBuilder
